.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .socials {

        display: flex;


        svg {
            display: block;
        }

        a {
            color: white;
            text-decoration: none;
            transition: color .25s;

            &.x:hover {
                color: rgb(95, 95, 95);
            }

            &.fb:hover {
                color: blue;
            }

            &.insta:hover {
                color: red;
            }
        }
    }
}